.App {
  font-family: sans-serif;
  width: 66%;
}

li {
  list-style: none;
}

button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

ul {
  float: left;
}

.fruit-detail {
  float: right;
}
